/* ---------------------------------- Fonts --------------------------------- */
$font_url: "http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,latin-ext";
@import url($font_url);


/* -------------------------------- CSS Reset ------------------------------- */
@import 'reset';


/* ------------------------------- Main style ------------------------------- */
$green: #08ad4b;
$dark: #404040;
$light: #cccccc;
$blue: #3b5998;
$red: #c22d2d;


@mixin font {
	font-family: 'Open Sans', sans-serif;
}

@mixin font-prop($size: inherit, $color: inherit, $line: inherit) {
	font-size: $size;
	color: $color;
	line-height: $line;
}

@mixin border-radius($radius, $pos: "") {
	@if $pos == right {
		-webkit-border-top-right-radius: $radius;
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-radius-topright: $radius;
		-moz-border-radius-bottomright: $radius;
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $pos == left {
		-webkit-border-top-left-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-topleft: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else if $pos == bottom {
		-webkit-border-bottom-right-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-bottomright: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;
		border-radius: $radius;
	}
}

@mixin opacity($opacity) {
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
	$opacity2: $opacity * 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity2+")";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity2);
	filter:alpha(opacity=$opacity2);
}


body {
	@include font;
	@include font-prop(16px,$dark,26px);
	background: white;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}
.button {
	display: block;
	width: 280px;
	height: 50px;
	background: $green;
	@include border-radius(5px);
	text-align: center;
	@include font-prop(16px,white,50px);
	font-weight: bold;
	cursor: pointer;
	border: 0;

	&:hover {
		background: #09c254;
	}
}
.button.right_btn {
	width: auto;
	float: right;
	padding: 0 28px;
}
.button.dark {
	background: $dark;

	&:hover {
		background: #4d4d4d;
	}
}
.button.blue {
	background: $blue;

	&:hover {
		background: #4065b4;
	}
}
.button.red {
	background: $red;

	&:hover {
		background: #d42a2a;
	}
}
.button.social {
	margin-bottom: 15px;

	span {
		font-size: 30px;
		float: left;
		display: block;
		width: 24px;
		text-align: center;
		margin: 0 0 0 15px;
	}
}
.button#google_btn span {
	line-height: 38px;
}
.checkbox {
	line-height: 50px;

	a {
		color: $green;
	}
}
hr {
	border: 0;
	margin: 30px auto;
	background: $light;
	height: 1px;
}
input.text_input {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;  
	width: 280px;
	height: 50px;
	@include font;
	@include font-prop(16px,$light,1);
	border: 1px solid $light;
	@include border-radius(5px);
	margin-bottom: 15px;
	padding: 0 15px;
}


/* --------------------------------- Header --------------------------------- */



/* --------------------------------- Index --------------------------------- */
#index {
	background: url('../../img/home_bg.jpg') center center no-repeat;

	#dots {
		background: url('../../img/dots.png') 0 0 repeat;
	}

	#floating_box {
		width: 621px;
		padding: 30px;
		background: white;
		@include border-radius(5px);
		-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:    2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		box-shadow:         2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		margin: 0 auto;

		#logo {
			@include font-prop(30px,$green,28px);
			font-weight: bold;
			text-transform: lowercase;
			clear: both;
			height: 34px;
			clear: both;
			text-align: center;

			span {
				color: white;
				display: inline-block;
				width: 34px;
				height: 34px;
				text-align: center;
				background: url('../../img/logo_bg.png') 0 0 no-repeat;
			}
		}
		#navigator {
			margin: 30px 0 0 0;
			clear: both;
			overflow: hidden;

			li {
				float: right;

				&.first {
					float: left;
				}
			}
		}
		.form_box {
			.left {
				float: left;
				width: 280px;
				padding-right: 30px;

				&.bordered {
					border-right: 1px solid $light;
				}
			}
			.right {
				float: right;
				width: 280px;
				padding-left: 30px;
			}
			#lost_password {
				float: left;
				@include font-prop(16px,$green,50px);
			}
		}
		#signup_form {
			display: none;
		}
	}
}