@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}

<div id="content">
    <div class="text_content">
        <h1>Welcome in Eventor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac strong elit, eu sodales ex. Donec finibus elementum odio sit amet commodo. Nullam accumsan sagittis cursus. Sed eget dapibus eros, id tempus sapien. Integer lacinia lacinia elit quis ullamcorper. Duis pretium eget ipsum vel mollis. Duis ac scelerisque ante. Donec accumsan semper suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere strong Curae; Vivamus sit amet enim nunc. Duis fringilla hendrerit aliquam. Fusce luctus urna quam, at fermentum est congue ac. Maecenas porttitor ante diam.</p>
        <h2>1. Create an event</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac strong elit, eu sodales ex. Donec finibus elementum odio sit amet commodo. Nullam accumsan sagittis cursus. Sed eget dapibus eros, id tempus sapien. Integer lacinia lacinia elit quis ullamcorper. Duis pretium eget ipsum vel mollis. Duis ac scelerisque ante. Donec accumsan semper suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere strong Curae; Vivamus sit amet enim nunc. Duis fringilla hendrerit aliquam. Fusce luctus urna quam, at fermentum est congue ac. Maecenas porttitor ante diam.</p>
        <h2>2. Manange your event</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac strong elit, eu sodales ex. Donec finibus elementum odio sit amet commodo. Nullam accumsan sagittis cursus. Sed eget dapibus eros, id tempus sapien. Integer lacinia lacinia elit quis ullamcorper. Duis pretium eget ipsum vel mollis. Duis ac scelerisque ante. Donec accumsan semper suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere strong Curae; Vivamus sit amet enim nunc. Duis fringilla hendrerit aliquam. Fusce luctus urna quam, at fermentum est congue ac. Maecenas porttitor ante diam.</p>
    </div>
</div>