@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}

<div id="content">
    <div class="text_content" id="error_404">
        <h1>404</h1>
        <h2>Not found</h2>
        <img src="/Content/img/404.jpg" />
    </div>
</div>