@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}

<div id="content">
    <strong data-bind="html: Pending"></strong>

    <div data-bind="with: CurrentEvent">
        <h2 data-bind="text: Name"></h2>
        <p data-bind="text: Description"></p>
    </div>

    <ul data-bind="foreach: SubEvents" id="event_list">
        <li>
            <h2></h2>
            <p data-bind="text: Content"></p>
            <div class="progress_bar">100 %</div>
            <div class="event_buttons">
                <button class="remove_btn"></button>
                <button class="edit_btn" data-toggle="modal" data-target="#editModal"></button>
            </div>
        </li>
    </ul>
    <div class="exclusive_block">
        <span>
            <h2>New Task?</h2>
            <!-- Button trigger modal -->
            <button type="button" class="button green" data-toggle="modal" data-target="#createModal">
                Create new task?
            </button>
        </span>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/EEvent.js")

    <script type="text/javascript">
        $(function () {
            var knockoutTemplate = new EventApp.EventViewModel('@HttpContext.Current.Request.RequestContext.RouteData.Values["EventID"].ToString()');
            ko.applyBindings(knockoutTemplate);
        });
    </script>

}
