@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Overview";
}

<div id="content">
    <strong data-bind="html: Pending"></strong>
    <ul data-bind="foreach: Events" id="event_list">
        <li>
            <h2 data-bind="text: Name"></h2>
            <p data-bind="text: Description, click: $root.RedirectToEvent"></p>
            <div class="progress_bar">100 %</div>
            <div class="event_buttons">
                <button data-bind="click: $root.Remove" class="remove_btn"></button>
                <button data-bind="click: $root.FillEditModal" class="edit_btn" data-toggle="modal" data-target="#editModal"></button>
            </div>
        </li>
    </ul>
    <div class="exclusive_block">
        <span>
            <h2>New event?</h2>
            <!-- Button trigger modal -->
            <button type="button" class="button green" data-toggle="modal" data-target="#createModal">
                Create new event
            </button>
        </span>
    </div>
</div>


<!-- Modal -->
<div data-bind="with: CreatedEvent" class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Event Creation</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <h2>Let´s create your event!</h2>
                    </div>
                    <div>
                        <input placeholder="Name" data-bind="value: Name" type="text" title="Name" />
                    </div>
                    <div>
                        <textarea placeholder="Description" data-bind="value: Description" title="Description"></textarea>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <button type="button" class="button green" data-bind="click: $parent.Add" data-dismiss="modal">Save Event</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div data-bind="with: EditEvent" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Event Edit</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <h2>Let´s edit your event!</h2>
                    </div>
                    <div>
                        <label for="Name">Name</label>
                        <input data-bind="value: Name" type="text" title="Name" />
                    </div>
                    <div>
                        <label for="Description">Description</label>
                        <textarea data-bind="value: Description" title="Description"></textarea>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <button type="button" class="button green" data-bind="click: $parent.Edit" data-dismiss="modal">Edit Event</button>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    @* Need to be in this order! *@
    @Scripts.Render("~/Scripts/EFriendlyUrl.js")
    @Scripts.Render("~/Scripts/EOverview.js")
    
    <script type="text/javascript">
        $(function () {
            var knockoutTemplate = new OverviewApp.OverviewViewModel();
            ko.applyBindings(knockoutTemplate);
        });
    </script>

}
