/* ---------------------------------- Fonts --------------------------------- */
$font_url: "http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,latin-ext";
@import url($font_url);


/* -------------------------------- CSS Reset ------------------------------- */
@import 'reset';


/* ------------------------------- Main style ------------------------------- */
$green: #08ad4b;
$dark: #404040;
$light: #cccccc;
$blue: #3b5998;
$red: #c22d2d;
$lightest: #f7f7f7;
$light2: #a6a6a6;


@mixin font {
	font-family: 'Open Sans', sans-serif;
}

@mixin font-prop($size: inherit, $color: inherit, $line: inherit) {
	font-size: $size;
	color: $color;
	line-height: $line;
}

@mixin border-radius($radius, $pos: "") {
	@if $pos == right {
		-webkit-border-top-right-radius: $radius;
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-radius-topright: $radius;
		-moz-border-radius-bottomright: $radius;
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	} @else if $pos == left {
		-webkit-border-top-left-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-topleft: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else if $pos == bottom {
		-webkit-border-bottom-right-radius: $radius;
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-bottomright: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	} @else {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;
		border-radius: $radius;
	}
}

@mixin opacity($opacity) {
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
	$opacity2: $opacity * 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity2+")";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity2);
	filter:alpha(opacity=$opacity2);
}


body {
	@include font;
	@include font-prop(16px,$dark,26px);
	background: white;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}
input, button {
	@include font;
	margin: 0;
	padding: 0;
}
.button {
	display: block;
	width: 280px;
	height: 50px;
	background: $green;
	@include border-radius(5px);
	text-align: center;
	@include font-prop(16px,white,50px);
	font-weight: bold;
	cursor: pointer;
	border: 0;

	&:hover {
		background: #09c254;
	}
}
.button.right_btn {
	width: auto;
	float: right;
	padding: 0 28px;
}
.button.dark {
	background: $dark;

	&:hover {
		background: #4d4d4d;
	}
}
.button.blue {
	background: $blue;

	&:hover {
		background: #4065b4;
		text-decoration: none;
		color: white;
	}
}
.button.red {
	background: $red;

	&:hover {
		background: #d42a2a;
		text-decoration: none;
		color: white;
	}
}
.button.social {
	margin-bottom: 15px;

	span {
		font-size: 30px;
		float: left;
		display: block;
		width: 24px;
		text-align: center;
		margin: 0 0 0 15px;
	}
}
.button#google_btn span {
	line-height: 38px;
}
.checkbox {
	line-height: 50px;
	margin-bottom: 15px;

	a {
		color: $green;
	}
}
hr {
	border: 0;
	margin: 30px auto;
	background: $light;
	height: 1px;
}
input.text_input {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;  
	width: 280px;
	height: 50px;
	@include font;
	@include font-prop(16px,#888,1);
	border: 1px solid $light;
	@include border-radius(5px);
	margin-bottom: 15px;
	padding: 0 15px;
}
textarea.text_input {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;  
	width: 280px;
	height: 120px;
	@include font;
	@include font-prop(16px,#888,28px);
	border: 1px solid $light;
	@include border-radius(5px);
	margin-bottom: 15px;
	padding: 10px 15px;
}
*, *::before, *::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.remove_btn {
	width: 30px;
	height: 30px;
	background: white url('../../Content/img/remove.png') center center no-repeat;
	@include border-radius(15px);
	border: 0;
}
.edit_btn {
	width: 30px;
	height: 30px;
	background: white url('../../Content/img/edit.png') center center no-repeat;
	@include border-radius(15px);
	border: 0;
}
.exclusive_block {
	height: 50px;
	border-top: 1px solid $light;
	border-bottom: 1px solid $light;
	text-align: center;
	margin: 35px 0 100px 0;
	padding: 30px 0;

	span {
		display: inline-block;

		h2 {
			float: left;
			margin-right: 40px;
			font-size: 36px;
			font-weight: 700;
			line-height: 50px;
		}
		.button {
			float: left;
		}
	}
}


/* --------------------------------- Header --------------------------------- */
header {
	width: 100%;
	clear: both;
	margin-bottom: 35px;

	#header_content {
		background: $lightest;
		height: 100px;
		width: 100%;
		clear: both;

		.left {
			float: left;
			margin-left: 50px;
		}
		.right {
			float: right;
			margin-right: 50px;
		}
		#logo {
			@include font-prop(30px,$green,28px);
			font-weight: bold;
			text-transform: lowercase;
			height: 34px;
			float: left;
			margin: 33px 0;

			span {
				color: white;
				display: inline-block;
				width: 34px;
				height: 34px;
				text-align: center;
				background: url('../../Content/img/logo_bg.png') 0 0 no-repeat;
			}
		}
		#header_text {
			float: left;
			height: 30px;
			line-height: 30px;
			border-left: 1px solid $light;
			color: $light;
			margin: 35px 0 35px 30px;
			padding-left: 30px;
		}
		#my_account {
			float: left;
			width: 30px;
			height: 30px;
			text-indent: -10000px;
			background: url('../../Content/img/my_account.png') 0 0 no-repeat;
			margin: 35px 20px 0 0;

			&:hover {
				background-position: -30px 0;
			}
		}
		#log_out {
			float: left;
			width: 30px;
			height: 30px;
			text-indent: -10000px;
			background: url('../../Content/img/logout.png') 0 0 no-repeat;
			margin: 35px 0 0 0;

			&:hover {
				background-position: -30px 0;
			}
		}
	}
	#hide_header {
		width: 100px;
		height: 20px;
		background: $lightest url('../../Content/img/hide.png') center center no-repeat;
		display: block;
		margin: 0 auto;
		cursor: pointer;
		@include border-radius(4px,"bottom");

		&.small {
			background: $lightest url('../../Content/img/show.png') center center no-repeat;			
		}
	}
}


/* --------------------------------- Index --------------------------------- */
#index {
	background: url('../../Content/img/home_bg.jpg') center center no-repeat;

	#dots {
		background: url('../../Content/img/dots.png') 0 0 repeat;
	}

	#floating_box {
		width: 621px;
		padding: 30px;
		background: white;
		@include border-radius(5px);
		-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:    2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		box-shadow:         2px 2px 0px 0px rgba(0, 0, 0, 0.2);
		margin: 0 auto;

		#logo {
			@include font-prop(30px,$green,28px);
			font-weight: bold;
			text-transform: lowercase;
			height: 34px;
			clear: both;
			text-align: center;

			span {
				color: white;
				display: inline-block;
				width: 34px;
				height: 34px;
				text-align: center;
				background: url('../../Content/img/logo_bg.png') 0 0 no-repeat;
			}
		}
		#navigator {
			margin: 30px 0 0 0;
			clear: both;
			overflow: hidden;

			li {
				float: right;

				&.first {
					float: left;
				}
			}
		}
		.form_box {
			.left {
				float: left;
				width: 280px;
				padding-right: 30px;

				&.bordered {
					border-right: 1px solid $light;
				}
			}
			.right {
				float: right;
				width: 280px;
				padding-left: 30px;
			}
			#lost_password {
				float: left;
				@include font-prop(16px,$green,50px);
			}
		}
		#signup_form {
			display: none;
		}
	}
}


/* --------------------------------- Event list --------------------------------- */
#event_list {
	width: 100%;
	text-align: center;

	li {
		display: inline-block;
		margin: 15px;
		padding: 13px 20px 20px 20px;
		background: $lightest;
		@include border-radius(5px);
		text-align: left;
		width: 260px;

		h2 {
			@include font-prop(24px,$green,28px);
			font-weight: 700;
		}
		p {
			margin: 9px 0 0 0;
			height: 156px;
			overflow: hidden;
			@include font-prop(16px,$light2,26px);
		}
		.progress_bar {
			width: 245px;
			height: 35px;
			background: $green;
			font-weight: 700;
			padding-left: 15px;
			@include border-radius(5px);
			margin-top: 11px;
			@include font-prop(16px,white,35px);
		}
		.event_buttons {
			display: none;
			width: 260px;
			height: 32px;
			margin-top: 11px;
			padding-top: 3px;

			.edit_btn {
				float: right;
			}
		}
		&:hover{
			background: $green;

			h2 {
				color: white;
			}
			p {
				color: #9ed6ae;
			}
			.progress_bar {
				display: none;
			}
			.event_buttons {
				display: block;
			}
		}
	}
}


/* --------------------------------- Subevets --------------------------------- */
.subevents {
	li div {
		display: block;
		margin: 15px;
		padding: 13px 20px 20px 20px;
		background: $lightest;
		@include border-radius(5px);
		text-align: left;
		width: 260px;
		height: 200px;
		float: left;
		position: relative;

		h2 {
			font-size: 24px;
			color: $green;
			line-height: 28px;
			font-weight: 700;
		}
		p {
			margin: 9px 0 0 0;
			overflow: hidden;
			font-size: 16px;
			color: #a6a6a6;
			line-height: 26px;
		}
		.trash_button {
			width: 30px;
			height: 30px;
			background: white url("../../Content/img/trash.png") 0 0 no-repeat;
			@include border-radius(15px);
			border: 0;
			position: absolute;
			left: 20px;
			bottom: 20px;
			text-indent: -10000px;

			&:hover {
				background-position: -30px 0;
			}
		}
		.add_child_button {
			width: 30px;
			height: 30px;
			background: white url("../../Content/img/add_child.png") 0 0 no-repeat;
			@include border-radius(15px);
			border: 0;
			position: absolute;
			right: 20px;
			bottom: 20px;
			text-indent: -10000px;


			&:hover {
				background-position: -30px 0;
			}
		}
	}
	li {
		clear: left;
	}
	li ul {
		float: left;
	}
}


/* --------------------------------- Text content --------------------------------- */
.text_content {
	@include font-prop(16px,$dark,26px);
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;

	h1 {
		@include font-prop(36px,$green,50px);
		font-weight: bold;
		padding: 4px 0 14px 0;
	}
	h2 {
		@include font-prop(24px,$dark,30px);
		font-weight: bold;
		margin-top: 24px;
	}
	p {
		margin-top: 9px;
	}
}


/* --------------------------------- 404 --------------------------------- */
#error_404 {
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	h1 {
		font-size: 300px;
		line-height: 300px;
		padding: 0;
		margin: 0;
	}
	h2 {
		font-size: 86px;
		line-height: 90px;
		padding: 0;
		margin: 0;
		color: $green;
		text-transform: uppercase;
	}
	img {
		float: right;
	}
}


/* --------------------------------- Event detail --------------------------------- */
#event-detail {
	.editable_block {
		overflow: hidden;
		clear: both;
		margin-bottom: 25px;

		&:first-child {
			margin-bottom: 15px;
			line-height: 50px;
		}
		h1, p, div, input {
			display: inline;
			text-align: center;
		}
		input {
			width: auto;
		}
		h1 {
			padding-bottom: 0;
		}
		.edit_btn_detail {
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url('../../Content/img/edit_detail.png') 0 0 no-repeat;
			cursor: pointer;
			border: 0;
			text-indent: -10000px;
			margin: 0 0 0 15px;

			&:hover {
				background-position: -30px 0;
			}
		}
	}

	.ui-widget {
		width: 280px;
		position: fixed;
		height: 152px;
		display: block;
		bottom: 0;
		left: 0;
		background: $lightest;
		padding: 20px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
		@include font();
		@include font-prop(16px,$dark,26px);

		h2 {
			font-weight: bold;
			margin-bottom: 10px;
		}
		input, button {
			font-size: 16px;
			@include font();
		}
	}
}


/* --------------------------------- Chat --------------------------------- */
#chat_box {
	width: 280px;
	position: fixed;
	height: auto;
	display: block;
	bottom: 0;
	right: 0;
	background: $lightest;
	padding: 0 20px 20px 20px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;

	h4 {
		font-weight: bold;
		margin-bottom: 10px;
	}
	#users-list {
		border-bottom: 1px solid $light;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	#chat-list {
		font-size: 14px;

		li {
			padding: 5px 15px;
			.name_time {
				color: #8d8d8d;
			}
			.text {
				color: $green;
			}
			&:nth-child(even) {background: #f0f0f0}
		}
	}
	#compose {
		margin-top: 20px;

		textarea {
			float: left;
		}
	}
	.box {
		display: none;

		&.active {
			display: block;
		}
	}
	#switcher_boxes {
		overflow: hidden;
		margin-bottom: 10px;
		margin-left: -20px;
		margin-right: -20px;

		& > div {
			width: 50%;
			text-align: center;
			height: 40px;
			line-height: 40px;
			background: #eeeeee;
			float: left;
			cursor: pointer;

			&:hover {
				background: $green;
				color: white;
			}
			&.active {
				background: $lightest;
				color: inherit;
			}
		}
		#chat_switch {
			-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			border-top-left-radius: 5px;	
		}
	}
}


/* --------------------------------- Footer --------------------------------- */
footer {
	width: 100%;
	height: 125px;
	padding-top: 75px;
	background: url('../../Content/img/footer.jpg') center center no-repeat;

	ul {
		text-align: center;
		line-height: 50px;
		height: 50px;

		li {
			width: 50px;
			height: 50px;
			display: inline-block;
			margin-right: 20px;

			a {
				display: block;
				height: 50px;
			}
			#fb_link {
				background: url('../../Content/img/fb_icon.png') 0 0 no-repeat;
			}
			#gp_link {
				background: url('../../Content/img/gp_icon.png') 0 0 no-repeat;
			}
			&:last-child {
				margin-right: 0;
			}
		}	
		#logo_item {
			width: 133px;
			height: 50px;
			padding-right: 30px;
			margin-right: 30px;
			border-right: 1px solid #fff;

			span {
				display: block;
				height: 36px;
				margin-top: 7px;
				background: url('../../Content/img/logo_white.png') 0 0 no-repeat;
			}
		}
	}
}