@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}
<div id="content">
    <div class="text_content">
        <h1>About us</h1>
        <p>Text about us.</p>
    </div>
    <div class="exclusive_block">
        <span>
            <h2>Have some question?</h2>
            <a href="mailto:info@eventor.cz" class="button green">
                Contact us
            </a>
        </span>
    </div>
</div>
