@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

Bazinga! defaultni stranka pokud jsme prihlaseni

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logoutForm').submit()" id="lost_password">Log off</a>

    }
}